.mainTable{
	
	font-family: Tahoma, Comic-Sans;

	font-size: 13px;
}

.headings{
	background-color:#687291;
}
#first_row{
	background-color:  #dfe1e7;
}
#second_row{
	background-color: #eeeff2;
}
#third_row{
	background-color:  #dfe1e7;
}
#forth_row{
	background-color: #eeeff2;
}
#fifth_row{
	background-color:  #dfe1e7;
}
#sixth_row{
	background-color: #eeeff2;
}
#seventh_row{
	background-color:  #dfe1e7;
}
#eighth_row{
	background-color: #eeeff2;
}
#ninth_row{
	background-color:  #dfe1e7;
}
#tenth_row{
	background-color: #eeeff2;
}